In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
df = pd.read_csv("possum.csv")
df.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [12]:
features = df[["skullw","belly"]]
y = df["taill"]

In [13]:
x_train, x_test, y_train, y_test = train_test_split(features, y, test_size=0.3, random_state=42)

In [16]:
x_test

    skullw  belly
30    54.1   31.0
65    55.8   34.0
64    57.4   38.5
53    63.0   36.5
45    54.4   35.0
93    57.6   35.0
91    56.3   31.0
47    63.2   35.0
10    57.2   34.0
0     60.4   36.0
18    55.4   32.0
31    56.7   34.0
88    58.4   30.5
95    55.7   33.0
77    51.0   28.0
4     56.3   33.0
80    56.0   35.0
33    55.7   28.5
12    59.9   32.0
26    54.5   28.0
98    56.2   35.0
55    61.5   31.5
22    56.1   35.0
76    56.2   35.0
44    55.9   31.5
72    52.3   28.0
15    56.0   32.0
42    55.5   31.0
40    57.0   30.5
9     58.0   32.0
85    53.2   31.0
11    55.6   33.0

In [17]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [20]:
slope = model.coef_[0]
slope2 = model.coef_[1]
intercept = model.intercept_
print(slope, slope2, intercept)

0.09662865995187996 0.15513862582554358 26.658702599045757